:root {
    --primary-color: #FCFCFC;
    --secondary-color: #5D737E;

    --tertiary-color: #30292F;

    --accent-color: #3F4045;

    --first-font-color: #02111B;
    --second-font-color: #3F3F37;

    --smaller-font-size: 0.5rem;
    --font-size: 1.2rem;
    --bigger-font-size: 1.5rem;
    --biggest-font-size: 2rem;
}



body {
    font-family: 'Mitr', sans-serif;
    background-color: var(--primary-color);
    color: var(--first-font-color);
    overflow-x: hidden;
}

img {
    width: 100%;
}

.photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: var(--biggest-font-size);
}

.photos img {
    margin: var(--font-size);
    border-radius: 2%;
    width: 100%;
    min-width: 150px;
    max-width: 300px;
    filter: grayscale(100%);

}

.photos img:hover {
    background-color: var(--second-font-color);
    cursor: pointer;
    transition: 2s;
    transform: scale(1.1);
    transform-box: fill-box;
    filter: grayscale(0%);
}

#top {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 1.5rem auto;
}

#top a {
    margin: var(--font-size);
    text-decoration: none;
    font-size: var(--font-size);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
}



footer {
    display: flex;
    align-content: center;
    justify-content: center;

    width: 90%;
    margin: auto;
    padding: var(--smaller-size);
}

#bottom div {
    color: var(--first-font-color);
    font-size: var(--font-size);
    display: flex;
    margin: 1rem;
    justify-content: space-between;
}

#social a {
    font-size: var(--biggest-font-size);
}

a {
    color: var(--first-font-color);
}

/* about page specific css */
.about {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
}

.portrait {
    display: flex;
    background-image: url("ph.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    align-self: center;
    border: var(--accent-color) solid 4px;
    justify-content: center;

}

.image-portrait {
    filter: grayscale(80%);
}


.title-portrait {
    text-decoration: none;
    font-size: var(--bigger-font-size);
    color: var(--accent-color);
    margin-top: 100px;
}

.text-portrait {
    margin: auto;
    margin-top: 2%;
    width: 40%;
}









/* individual page specific css */

.one-image {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 60%;
    margin: auto;
    padding: 10px;
}

.one-image img {
    display: flex;
    align-self: center;
    width: 400px;
    height: 400px;
}

.one-image h2 {
    color: darkgrey;
    text-transform: capitalize;
    font-weight: bold;
    margin: 40px 20px 0px 40px;
}

.one-image p {
    color: darkgrey;
    margin: 20px 20px 40px 40px;
}